.div-page {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 20px;
  margin-top: 5vh;
  background-color: white;
}

h2 {
  text-align: center;
}

.custom-submit-button {
  margin: 0 auto;
  width: 500px !important;
}

.general-center {
  text-align: center;
}
